<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>PC CONFIGURATION WEB</title>
</head>
<body>
    <div class="header">
        <h1>PC CONFIGURATION WEB</h1>
    </div>
    <div class="table">
        <ul>
            <li>
                <a href="/tools"><span class="name">Tools: Speccy / CPU-Z / OCCT</span></a>
                <span class="logo"><i class="fa fa-windows" aria-hidden="true"></i></span>
            </li>
            <li>
                <span class="name">DDU Uninstaller</span>
                <span class="logo"><i class="fa fa-windows" aria-hidden="true"></i></span>
            </li>
            <li>
                <span class="name">Nvidia Driver Slim</span>
                <span class="logo"><i class="fa fa-windows" aria-hidden="true"></i></span>
            </li>
            <li>
                <span class="name">Adware Cleaner</span>
                <span class="logo"><i class="fa fa-windows" aria-hidden="true"></i></span>
            </li>
        </ul>
    </div>
</body>
</html>